/.metadata/
org.xtext.gsht.ide/src-gen/META-INF/services/org.eclipse.xtext.ISetup
*.java
*._trace
org.xtext.gsht.tests/xtend-gen/org/xtext/gsht/tests/.GSelfOperatingHeuristicTextParsingTest.java._trace
org.xtext.gsht.tests/xtend-gen/org/xtext/gsht/tests/.GSelfOperatingHeuristicTextParsingTest.xtendbin
org.xtext.gsht.tests/xtend-gen/org/xtext/gsht/tests/GSelfOperatingHeuristicTextParsingTest.java
org.xtext.gsht/xtend-gen/org/xtext/gsht/generator/.GSelfOperatingHeuristicTextGenerator.java._trace
org.xtext.gsht/xtend-gen/org/xtext/gsht/generator/.GSelfOperatingHeuristicTextGenerator.xtendbin
org.xtext.gsht/xtend-gen/org/xtext/gsht/generator/GSelfOperatingHeuristicTextGenerator.java
